.background {
  min-height: 100vh;
  background-image: url('/images/auth-backdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.btn {
  all: unset;
  font-size: 24px;
  padding: 10px 32px;
  background: hsl(0, 0%, 0%);
  color: white;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border-radius: 100px;
  z-index: 0;
  --primary: 200 100% 50%;
  --mouseX: 50%;
  --mouseY: 50%;
  box-shadow:none;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  
  border-radius: inherit;
  padding: 2.5px;
  


  background: conic-gradient(from var(--angle) at 50%,
      transparent 0%,
      transparent 33%,
      var(--border-color) 50%,
      transparent 66%);
  animation: rotate 2s linear infinite, borderColorCycle 4s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  background: black;
  z-index: -1;
  filter: drop-shadow(0 0 1px var(--glow-color));
  animation: glowColorCycle 4s linear infinite;
}

.inner {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(100px circle at var(--mouseX) var(--mouseY),
      hsl(var(--primary)/0.3),
      transparent 50%);
  z-index: 0;
  opacity: 0;
}

.btn:hover .inner {
  opacity: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}

@property --border-color {
  syntax: "<color>";
  initial-value: #92EBFF;
  inherits: false;
}

@keyframes borderColorCycle {
  0% {
    --border-color: #92EBFF;
  }

  25% {
    --border-color: #E3F9B3;
  }

  50% {
    --border-color: #FB7AC3;
  }

  75% {
    --border-color: #A9AAFF;
  }

  100% {
    --border-color: #92EBFF;
  }
}
@property --glow-color {
  syntax: "<color>";
  initial-value: rgba(221, 234, 237, 0.8);
  inherits: false;
}

@keyframes glowColorCycle {
  0%   { --glow-color: #92EBFF;  }  
  25%  { --glow-color: #E3F9B3;  }  
  50%  { --glow-color: #FB7AC3;  }  
  75%  { --glow-color: #A9AAFF;  }  
  100% { --glow-color: #92EBFF;  }  
}


/* gradient glow button ends here  */

.glassCard {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
