
.background{
  min-height: 100vh;
  background-image: url('/images/auth-backdrop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
